.rounded-avatar-picture {
    border: 5px solid #00ADB5;
    border-radius: 50%;
    object-fit: cover;
    align-self: center;
    width: 13vw;
    min-width: 120px;
    max-width: 150px;
    height: 13vw;
    min-height: 120px;
    max-height: 150px;
}

.align-bottom {
    position: fixed !important;
    bottom: 1em;
}


.nav-container {
    text-align: center;
    display: flex;
    border: none;
    flex-direction: column;
    vertical-align: top;
    horiz-align: center;
    font-weight: lighter;
}

.hide {
    display: none;
}